html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
#map {
  height: 100%;
  width: 100%;
}

/* top tabs */
.top-tabs-panel {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  background-color: #fff;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25);
  display: flex;
}
@media only screen and (max-width: 512px) {
  body {
    display:flex;
    flex-direction: column;
  }
  .map-wrap {
    flex-grow: 1;
  }
  .top-tabs-panel {
    position: static;
    transform: translateX(0);
    display: flex;
  }
  .tab {
    width: 50%;
  }
  .tab-inner {
    width: auto;
  }
}

.tab {
  border-bottom: 4px solid transparent;
  cursor:pointer;
}
.tab:active, .tab:hover {
  background: #f5f5f5;
}
.tab-inner {
  width: 180px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 512px) {
  .tab-inner {
    width: auto;
  }
}
.tab.selected {
  border-bottom: 4px solid hsl(240, 70%, 70%);
  color: hsl(240, 42%, 43%);
  fill: hsl(240, 42%, 43%);
}
.tab.seperator {
  border-right: 1px solid #EEE;
}
.tab-title {
  display: flex;
}
.tab-icon {
  height: 18px;
  margin-right: 6px;
}
.tab-subtext {
  font-size: 65%;
}

/* info window */
.row-top {
  display: flex;
  align-items:center;
  margin-bottom: 6px;
}
.devices {
  margin-right: 5px;
}
.device-icon {
  width: 21px;
}
.name {
  font-weight: 500;
  margin-bottom: 5px;
}

.row-bottom {
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 5px;
}
.speed {
  font-weight: 500;
}
.pill {
  position: relative;
  padding: 4px 10px;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  min-width: 64px;
  text-align: center;
}
.green {
  background: rgb(7, 197, 7);
}
.orange {
  background: rgb(255, 185, 0);
}
.red {
  background: rgb(255, 57, 57);
}
.grey {
  background: rgb(176, 176, 176);
}
.dark-green {
  background: rgb(0, 128, 0);
}
.pill .dot {
  position: absolute;
  border-radius: 50px;
  width: 9px;
  height: 9px;
  /* border: 0.5px solid black; */
  left: -2px;
  top: 0px;
  /* animation: fadeinout 1s ease-in-out 0 0 reverse; */
}
