html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
#map {
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.pill {
  padding: 4px 10px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}
.pill.green {
  background: rgb(7, 197, 7);
}
.pill.amber {
  background: orange;
}
.pill.red {
  background: red;
}